.env
venv
backend/__pycache__
# Dependencias
node_modules/

# Logs
*.log

# Archivos temporales
*.tmp
*.cache

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs (opcionales)
.vscode/

# Configuracion local 
.github/
.github/ISSUE_TEMPLATE

skills-lock.json
.agents/
emovest-video/
docs/

